/* HEADER */
.avatar{
    text-align: center;
    background-color: rgb(231, 244, 255);
}

.script-avatar{
    background: linear-gradient(to right, rgb(230, 108, 108), rgb(77, 77, 179), rgb(114, 231, 186), rgb(8, 126, 161));
    background-size: 200%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ANIMATION ĐÁNH CHỮ */
.typewriter{
    display: flex;
    justify-content: center;
}
.typewriter p{
    font-family: "Iciel Cadena";
    font-size: 2.4rem;
    margin-inline: auto;
    overflow: hidden;
    
    white-space: nowrap;

    border-right: 1px solid;

    animation: typing 3s steps(22) forwards infinite, 
    blink 1s step-end ;
}

@keyframes typing{
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}
/*  */
.script-avatar{
    font-size: large;
    text-align: center;
    font-family: "Iciel Cadena";
}
.header{
    justify-content: left;

}
/* AVATAR */

#avatar-cir{
    width: 15%;
 

    /* BORDER */
    border: 10px solid rgba(43, 230, 127, 0.363);
    border-style: double ;
    border-radius: 50%; 
}



/* BODY */
.experience{
    text-align: center;

}

/* THONG TIN CA NHAN */

.information{
    width: 30%;
    margin-left: 200px;
    border: black 1px solid;
}
/* SO THICH */